body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* LOGO-HEADER */

.logo-header {
color: #4D5AE5;
font-size: 18px;
font-family: Raleway, sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
}

.logo-header span {
    color: #2E2F42;
}

/* NAVIGATE */

.navigate .link {
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.navigate .link:hover,
.navigate .link:focus {
    color: #404bbf;
}

/* CONTACTS */

.address-normal {
    font-style: normal;
}

.contacts .link {
color: #434455;
line-height: 1.5;
letter-spacing: 0.32px;
}

.contacts .link:hover,
.contacts .link:focus {
    color: #404BBF;
}

/* SECTION-HERO */

.section-hero {
    background-color: #2E2F42;
    text-align: center;
}

.title-hero {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.btn {
    color: white;
    background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;

cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

/* SECTION-ADVANTAGES */

.item-advantages .title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.item-advantages .text-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTION-TEAM */

.section-team {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.list-team .item-team {
    background-color: #ffffff;
}

.item-team .title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.item-team .text-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTION-PORTFOLIO */

.title-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.item-portfolio .title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.item-portfolio .text-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTION-FOOTER */

.section-footer {
    background-color: #2E2F42;
}

.logo-footer {
    color: #4D5AE5;
font-size: 18px;
font-family: Raleway, sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
}

.logo-footer .logo-span {
    color: #F4F4FD;
}

.text-footer {
    color: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.32px;
}