body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

/* .container-header, .container-hero, .container-advantages, .container-team, .container-portfolio, .container-footer {
    border: 1px solid tomato;
} */

.container {
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.link {
    text-decoration: none;
}

/* ================================= PAGE-HEADER ============================== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.logo-header {
color: #4D5AE5;
font-size: 18px;
font-family: Raleway, sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;

display: block;
padding: 24px 0;
margin-right: 76px;
}

.logo-header span {
    color: #2E2F42;
}

.navigate {
    display: flex;
    align-items: center;
}

.list-navigate {
    display: flex;
    gap: 40px;
}

.list-navigate .link {
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;

    display: inline-block;
    padding: 24px 0;
}

.list-contacts .link {
    display: inline-block;
    padding: 24px 0;
}

.list-navigate .link:hover,
.list-navigate .link:focus {
    color: #404bbf;
}

.list-contacts {
    display: flex;
    gap: 40px;
}

.list-contacts .link {
color: #434455;
line-height: 1.5;
letter-spacing: 0.32px;
}

.list-contacts .link:hover,
.list-contacts .link:focus {
    color: #404BBF;
}

/* ============================== SECTION-HERO ============================== */

.section-hero {
    background-color: #2E2F42;
    text-align: center;

    padding: 188px 0;

}

.title-hero {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;

    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.btn {
color: white;
background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;

display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
cursor: pointer;

}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

/* ============================== SECTION-ADVANTAGES ============================== */

.visually-hidden {
    display: none;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.item-advantages {
    width: calc((100%-72px)/4);
}

.item-advantages .title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.item-advantages .text-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ============================== SECTION-TEAM ============================== */

.section-team {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

    margin-bottom: 72px;
}

.list-team {
    display: flex;
}

.item-team {
    background-color: #ffffff;

    border-radius: 0px 0px 4px 4px;
}

.item-team:not(:last-child) {
    margin-right: 24px;
}

.item-portfolio .name-item {
    padding: 32px 0;
}

.item-team .title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    text-align: center;
    margin-bottom: 8px;
}

.item-team .text-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: center;
}

/* ============================== SECTION-PORTFOLIO ============================== */

.title-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}


.item-portfolio {
    width: calc((100% - 48px) / 3)
}

.item-portfolio .name-item {
    padding: 32px 0;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.title-item {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    text-align: center;
    margin-bottom: 8px;
}

.text-item {
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: center;
}

/* ============================== PAGE-FOOTER ============================== */

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    color: #4D5AE5;
font-size: 18px;
font-family: Raleway, sans-serif;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;

display: inline-block;
margin-bottom: 16px;

}

.logo-footer .logo-span {
    color: #F4F4FD;
}

.text-footer {
    color: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.32px;

width: 264px;
}